
@font-face {
  font-family: 'Impacted';
  src: url('Impacted.eot?#iefix') format('embedded-opentype'),  url('Impacted.woff') format('woff'), url('Impacted.ttf')  format('truetype'), url('Impacted.svg#Impacted') format('svg');
  font-weight: normal;
  font-style: normal;
}
